logs/
venv/
.env
LLMOPS_3.egg-info/
results/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Kubernetes binaries (prevent accidental commits)
kubectl
argocd